{% extends 'base.html' %}

{% block content %}
<div class="end-bid-page">
    <h1 class="end-bid-title">End {{ object.name }} Bid</h1>

    <h4 class="end-bid-warning">
        Are you sure you want to end the bid on <span class="bid-item">{{ object.name }}</span>?
    </h4>

    <form action="" method="post" class="end-bid-form">
        {% csrf_token %}
        <input type="submit" value="Yes - Delete!" class="btn btn-confirm">
        <a href="{% url 'auctions_detail' auction.id %}" class="btn btn-cancel">Cancel</a>
    </form>
</div>
{% endblock %}

