{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

<div class="profile-page">
<h3 class="profile-heading">My Profile</h3>
<div class="profile-container">
{% load static %}
        <img class="profile-image" src="{% static profile.image|cut:'main/static/' %}" alt="Profile Picture">
    <div class="profile-card">

        <div class="profile-info">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ profile.email }}</p>
            <p><strong>Phone Number:</strong> {{ profile.phone }}</p>
            <p><strong>Bio:</strong> {{ profile.bio }}</p>
        </div>

        <a class="edit-profile-btn" href="{% url 'profile_update' profile.id %}">Edit Profile</a>
    </div>
</div>
</div>
{% endblock %}
