{% extends 'base.html' %}

{% block content %}


<h2>Today's Auctions</h2>
{% if auction.auction_for_today %}
{% for auction in auctions %}


<div class="card">
  {% if auction.is_active == False %}
  <p>ENDED AUCTION</p>
  {% else %}
  <P>ONGOING AUCTION</P>
  {% endif %}

  {% load static %}

      <img width="250px" height="250px" src={% static auction.image|cut:'main/static/' %} />
  <h3>
    {{ auction.name }}
  </h3>
  <p>{{ auction.description }}</p>
  <p>Current Bid: {{ auction.current_price }} </p>
  <a href="{% url 'auctions_detail' auction.id %}">Place Bid</a>
</div>
{% endfor %}
{% else %}
<h3>No Auctions Today</h3>
{% endif %}


<h2>All Auctions</h2>

{% for auction in auctions %}
<div class="card">
  {% if auction.is_active == False %}
  <p>ENDED AUCTION</p>
  {% else %}
  <P>ONGOING AUCTION</P>
  {% endif %}

  {% load static %}

      <img width="250px" height="250px" src={% static auction.image|cut:'main/static/' %} />
  <h3>
    {{ auction.name }}
  </h3>
  <p>{{ auction.description }}</p>
  <p>Current Bid: {{ auction.current_price }} </p>
  <a href="{% url 'auctions_detail' auction.id %}">Place Bid</a>
</div>
{% endfor %}
<a href="{% url 'auctions_create' %}">Add Auction + </a>
{% endblock %}
